.card {
  width: 100%;
  height: 50%;
}

.header {
  font-weight: bold;
  font-size: 24px;
}

.cardBody {
  position: relative;
  min-height: 50%;
  overflow-y: auto;
}

.cardBody > * {
  padding-bottom: 12px;
}

.gameInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 6px;
}

.gameInfo span {
  margin-bottom: 6px;
}

.spinnerBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  background-color: #f2f2f2;
}

.label {
  font-weight: bold;
}

.footer {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .gameInfo {
    flex-direction: column;
    align-items: center;
  }
  .gameInfo span {
    width: 50%;
  }
  .card {
    height: 60%;
  }
  .quiz {
    width: 90%;
  }
}

@media only screen and (max-width: 760px) {
  .card {
    height: 80%;
  }

  .gameInfo span {
    width: 100%;
  }
}
