.card {
  width: 100%;
  min-height: 40%;
}

.header {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.gameInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 6px;
}

.gameInfo span {
  margin-bottom: 6px;
}

.answer {
  color: red;
}

.answerLabel {
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .gameInfo {
    flex-direction: column;
  }
  .card {
    height: 60%;
  }
  .quiz {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    height: 75%;
  }
}
